.pronamic_cookie_position_top {top:0;}
.pronamic_cookie_position_bottom {bottom:0;}
#pronamic_cookie_holder {position:fixed;display:block;background:#333;width:100%;padding:5px;left:0;right:0;z-index:99999;}
	#pronamic_cookie_holder p {color:#d4d4d4;text-align:center;line-height:30px;margin:0;padding:0;}
	#pronamic_cookie_holder a {color:#d4d4d4;}
		#pronamic_cookie_holder a:hover {text-decoration: underline;}
		#pronamic_cookie_holder .pronamic_cookie_close_button {background:#666;border-radius:5px;color:#d4d4d4;cursor:pointer;padding:5px 10px;margin:0 0 0 50px;}
			#pronamic_cookie_holder .pronamic_cookie_close_button:hover {background:#5c5c5c;text-decoration:none;}
.admin-bar-showing {padding-top:35px !important;}
