.pronamic_cookie_position_top {top:0;}
.pronamic_cookie_position_bottom {bottom:0;}
#pronamic_cookie_holder {position:fixed;display:block;background:#333;width:100%;padding:5px;left:0;right:0;z-index:99999;}
	#pronamic_cookie_holder p {color:#d4d4d4;text-align:center;line-height:30px;margin:0;padding:0;}
	#pronamic_cookie_holder a {color:#d4d4d4;}
		#pronamic_cookie_holder a:hover {text-decoration: underline;}
		#pronamic_cookie_holder .pronamic_cookie_close_button {background:#666;border-radius:5px;color:#d4d4d4;cursor:pointer;padding:5px 10px;margin:0 0 0 50px;}
			#pronamic_cookie_holder .pronamic_cookie_close_button:hover {background:#5c5c5c;text-decoration:none;}
.admin-bar-showing {padding-top:35px !important;}

.pronamic_csection_show_button {padding:5px 10px;background:#fff;border:1px solid #000;text-align:center;position:absolute;top:50%;margin-top:-16px;right:50%;height:20px;line-height:20px;color:#000;text-decoration:none;}
    .pronamic_csection_show_button:hover {background:#000;color:#fff;}
.pronamic_csection_modal {width:330px;background:#212121;border:1px solid #000;position:fixed;top:50%;left:50%;margin-left:-165px;display:none;}
    .pronamic_csection_modal h2 {background:#313131;font-size:20px;line-height:40px;color:#fff;text-align:center;}

.pronamic_csection_modal_close {position:absolute;top:10px;right:10px;color:#fff;text-decoration:none;width:16px;height:16px;font-size:16px;display:block;}
    .pronamic_csection_modal_close:hover {color:#fff;}

.pronamic_csection_modal_content {background:#fff;padding:10px;}    

.pronamic_csection_modal_footer { *zoom: 1; background:#fff;}
.pronamic_csection_modal_footer:after { clear: both; content: ""; display: table; }
        .pronamic_csection_button {color:#000;display:block;width:128px;background:#fff;text-decoration:none;padding:5px 10px;text-align:center;font-size:12px;margin-bottom:10px;margin-left:10px;margin-top:10px;float:left;border:1px solid #ccc;}